html, body{
    margin: 5px;
    padding: 5px;
 }

.cart {
    position: absolute;
    min-height: 10rem;
    top: 5;
    right: 0;
    transition: all 0.3s ease-in-out;
    background: white;
    text-align: right;
    width: 0;
    overflow: hidden;
  }
  .show-cart {
    width: 20rem;
    padding: 2rem 1.5rem;
    transform: rotateY(-360deg);
  }

  .pointer {
    cursor: pointer;
  }

  .item {
    position: absolute;
    min-height: 10rem;
    top: 5;
    right: 0;
    transition: all 0.3s ease-in-out;
    background: white;
    text-align: left;
    width: 0;
    overflow: hidden;
  }
  .show-item {
    width: 20rem;
    padding: 2rem 1.5rem;
    transform: rotateY(-360deg);
  }

 